html {
    background-color: orange;
    height: 4000px;
}
.grand-parent {
    background-color: black;
    width: 760px;
    padding: 24px;
    margin-top: 40px;
    height: 100px;
 /*   position: relative;
    top: 100px;
    left: 20px;*/
}
.parent {
    background-color: green;
    height: 80px;
    width: 760px;
}
.child1 {
    background-color: red;
    margin-bottom: 20px;
    position: absolute;
    /* z-index: -1; */
    top: 0px;
}
.child2 {
    background-color: white;
    position: fixed;
    top: 0px;
    left: 100px;
}